<%= form_for(@tag) do |f| %>
	<div class="field row">
		<%= f.label :genre %>
		<%= f.text_field :genre, class: "col-xs-12 tag_title" %>
	</div>



	<div class="actions row">
		<%= f.submit class: "btn btn-primary col-xs-12" ,data: {disable_with: "送信中..." } %>
	</div>
<% end %>